
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/YAHW/.vs/*
library/YAHW/YAHW/bin/*
library/YAHW/YAHW/obj/*

# ignore PowerShell Studio MetaData
YAHW/YAHW.psproj
YAHW/YAHW.psproj.bak
YAHW/YAHW.psprojs
YAHW/YAHW.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*